*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.head{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.up{
    display: flex;
    justify-content: space-around;
    background-color: rgb(37, 28, 28);
    color: white;
    width: 100%;
    padding: 15px 10px;
}
.icon{
    display: flex;
    align-items: center;
    gap: 10px;
}
.icon svg{
    color: red;
    font-size: 30px;
}
.mar{
    width: 60%;
    margin-top: 20px;
}
marquee{
    color: red;
    font-size: 20px;
}
.down{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: red;
    padding: 10px 5px;
    color: white;
}
ol{
    display: flex;
    gap: 30px;
}
.sea{
    display: flex;
    gap: 30px;
}
li{
    display: flex;
    align-items: center;
}
.bs{
    display: flex;
    align-items: center;
    gap: 5px;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
}
.bs input{
    border: none;
    background-color: transparent;
    outline: none;
}
.bs svg{
    color: black;
    font-size: 20px;
}
.banner img{
    height: 64.4vh;
}
.kk{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    gap: 60px;
}
.kkk{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    flex-direction: column;
    gap: 60px;
    width: 100%;
}
.mid{
    display: flex;
    gap: 40px;
}
.mid img{
    height: 25vh;
}
.pro{
    display: flex;
    justify-content: space-around;
    width: 85%;
    text-align: center;
}
.proo{
    display: flex;
    justify-content: space-around;
    width: 85%;
    text-align: center;
}
.pro img{
    height: 20vh;
}
.proo img{
    height: 30vh;
    border-radius: 10px;
}
.top{
    display: flex;
    justify-content: space-between;
    width: 85%;
}
.top button{
    padding: 5px 10px;
    background-color: rgb(241, 191, 191);
    color: rgb(241, 66, 66);
    border: none;
    border-radius: 5px;
}
.top button:hover {
    animation: shake3856 0.3s linear infinite both;
   }
   
   @keyframes shake3856 {
    0% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   
    20% {
     -webkit-transform: translate(-2px, 2px);
     transform: translate(-2px, 2px);
    }
   
    40% {
     -webkit-transform: translate(-2px, -2px);
     transform: translate(-2px, -2px);
    }
   
    60% {
     -webkit-transform: translate(2px, 2px);
     transform: translate(2px, 2px);
    }
   
    80% {
     -webkit-transform: translate(2px, -2px);
     transform: translate(2px, -2px);
    }
   
    100% {
     -webkit-transform: translate(0);
     transform: translate(0);
    }
   }
.sell{
    display: flex;
    width: 85%;
    justify-content: space-around;
    text-align: center;
}
.sell img{
    height: 30vh;
    border-radius: 20px;
}
span{
    color: rgb(231, 22, 22);
    font-size: larger;
    font-weight: 600;
}

.explore{
    display: flex;
    gap: 40px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
ol li:hover{
    color: green;
    cursor: pointer;
    margin-left: 7px;
    transition: ease-in-out 1s;
}
.feet{
    display: flex;
    flex-direction: column;
    gap: 15px;
}

footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    background-color: grey;
    gap: 30px;
    color: white;
    padding: 20px 10px;
}
.foot{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
footer p{
    background-color: grey;
    text-align: center;
    color: white;
}
.mar span{
    color: black;
    font-size: larger;
    font-weight: 300;
}
.last{
    display: flex;
    width: 85%;
    gap: 40px;
    justify-content: space-between;
}
.last img{
    height: 45vh;
}
.las{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.las button{
    width: 40%;
    padding: 7px 10px;
    border: none;
    background-color: rgb(187, 13, 13);
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.nav-mobile{
    display: none;
  }
  .toggle{
    display: none;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
  }
  


@media screen and (max-width:950px) {
    .pro{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .mid{
        flex-direction: column;
    }
    .mid img{
        height: 20vh;
    }
    .sell{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .banner img{
        height: 20vh;
    }
    .down{
        flex-direction: column;
    }
    .last{
        flex-direction: column;
    }
    .proo{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    .sea{
        flex-direction: column;
    }
    .up{
        flex-direction: column;
    }
    
    .foot{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    ul{
        height: 20vh;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .toggle{
        display: block;
      }
      .nav-mobile{
        display: block;
        background-color: white;
        transition: .7s ease-in-out;
        height: 0;
        overflow: hidden;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
      .nav-mobile-sub{
        height: 25vh;
        padding: 10px 30px;
      }
      .nav-mobile li{
        color: black;
      }
      .nav-mobile:hover{
        cursor:pointer;
      }
      .bs{
        display: none;
      }
      ol{
        display: none;
      }
      .down{
        display: flex;
      }
      .tog{
        display: flex;
        justify-content: space-between;
        width: 100%;
      }
}