.app {
    /* display: flex; */
    height: 100vh;
  }
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  .App{
    display: flex;
  }
  .other{
    width: 80%;
    padding: 10px 20px;
  }
